#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #d1df3895);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles specific to the SearchBar component */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 20px 0;
  padding: 0 10px; */
}

.search-input {
  font-size: 16px;
  padding: 10px ;
  width: 100%;
  max-width: 300px;
  margin: 10px ;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-button, .clear-button {
  padding: 10px 20px;
  cursor: pointer;
}

.checked-in {
  padding: 10px 20px;
  cursor: not-allowed;
  color: unset;
  border: none; /* Ensure no border is shown */
}

.checked-in:hover {
  border: none; /* Prevent border on hover */
  box-shadow: none; /* Prevent any shadow effects on hover */
  background-color: none; /* Optional: keep background consistent */
}
.check-in-button {
  padding: 10px 20px;
  /* max-width: 100%; */
}



/* Keep the space reserved for the table */
.results-container {
  min-height: 250px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

/* Table container ensures no overflow */
.table-container {
  width: 100%;
  overflow: clip; /* Prevent horizontal scrolling */
}

/* Set table-layout to fixed for responsive behavior */
.table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed; /* Columns will resize to fit */
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  word-wrap: break-word; /* Prevent text overflow */
}

.no-results {
  margin-top: 20px;
  color: #888;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .search-input {
    font-size: 14px; /* Slightly reduce font size */
  }

  .table th, .table td {
    padding: 6px; /* Reduce padding on smaller screens */
  }

  .table {
    font-size: 12px; /* Reduce font size to make it fit */
    max-width: max-content;
  }

  .table-container {
    max-width: 100%;
  }

  .table th, .table td {
    word-wrap: break-word; /* Ensure long text wraps in smaller cells */
  }
}
